.logo{
    display: block;
    margin: auto;
    height: 30 px;
    width: 150px;
}
.container{
    border-radius: 11px;
    max-width: 900px;
    border: 3px solid black;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 20 px;
    height: 60vh;
    width: 40 px;
}
h1{
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.message{
    background-color: yellow;
    width: 40%;
    padding: 12px;
    margin: 10px 16px;
    border: 2px solid black;
    border-radius: 12px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: left;
    clear: both;
}
#submit{
    margin: auto;
    margin-top: 10px;
    
    
    text-align: center;
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#input{
    width: 85%;
    border: 2px solid black;
    border-radius: 8px;
    height: 40 px;
    font-size: 22 px;
}
.send{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    height: 40 px;
    width: 10%;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(162, 97, 70),rgb(249, 94, 5));
}